.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.page-content-with-sidebar {
    display: flex;
    height: 100%;
}

.page-content {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: aliceblue;
}

.top-bar {
    display: block;
    height: 60px;
}