<div class="card">
    <p-menubar>
        <ng-template pTemplate="start">
            <div class="header-title">
                <img src="../../../../assets/images/logo.png" height="40" class="mr-2" />
                <h1 class="header">Task Manager</h1>
            </div>
        </ng-template>
        <ng-template pTemplate="end">
            <p-avatar label="U" styleClass="mr-2" [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }" shape="circle"></p-avatar>
        </ng-template>
    </p-menubar>
</div>